#grid{
    display:flex;
    justify-content: center;
    padding: 15px;
}

.square{
    padding: 7px;
    border: 1px solid;
}

#buttons-bott{
    display: flex;
    justify-content: center;
    padding: 10px;
}

button{
    margin: 15px;
}

/*
    Change grid size not square size. Use flex to change square size.
*/


/*
    To erase the board, use a class change.
*/

