#grid{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.square{
    padding: 7px;
    border: 1px solid;
}

#buttons-bott{
    display: flex;
    justify-content: center;
    padding: 10px;
}

button{
    margin: 15px;
}

/*
    To keep grid the same size: 
    Change square size not grid size. Use flex to change square size.
*/


/*
    Erase board possible solutions:

    1. Change class for squares when colored. Change class back when erased.
    2. Same ideas 1., but instead of changing classes back, clear html classes for color.
*/

